@import "tailwindcss";

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    color: none;
}

::-webkit-scrollbar-thumb {
    background: #888;
}